@import '~normalize.css/normalize.css';
@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'reset';

body {
  min-height: 100vh;
  font-family: 'Gotham Pro', sans-serif;
}

.bold {
  font-weight: 700;
}

.hidden {
  display: none;
}
